# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
.project
.settings/

# Databases
data/processed/mutual_funds.db
